{% extends 'base.html' %}
{% block content %}
<h2 class="text-primary">Meet the Team</h2>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card text-center p-3">
            <h4>🧑 Muhammad Abdullah</h4>
            <p>Web Developer, Flask Integration, Deployment</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center p-3">
            <h4>🧠 Mustafa</h4>
            <p>Model Trainer, YOLOv11 Custom Dataset, Evaluation</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center p-3">
            <h4>🧠 Faraz</h4>
            <p>Data Collection, Annotation, Model Optimization</p>
        </div>
    </div>
</div>
{% endblock %}
